.trend {
  margin: 0px 20px;
  padding-top: 5px;
}
.trendStyle {
  display: flex;
  padding: 5px 20px;
  background-color: rgb(186, 186, 186);
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(170 170 170);
}
.trendTitle {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.trendList {
  margin-top: 5px;
  display: flex;
  padding: 30px 15px;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;

  box-shadow: 10px 5px 5px rgb(170, 170, 170);
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.trendCard {
  display: flex;
  align-items: center;
  width: 350px;
  padding: 25px 10px;
  background-color: rgb(207, 206, 206);
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(170, 170, 170);
  flex-direction: column;
}
.trendImg {
  width: 300px;
  border-radius: 5px;
}
.trendCardTitle {
  color: black;
  font-size: 14px;
  text-decoration: none;
}
.trendBtn {
  padding: 8px;
  color: #0b0b0b;
  letter-spacing: 0.06em;
  text-decoration: underline;
  background-color: #be7617;
  border-style: solid;
  border-color: rgb(54, 54, 54);
  border-radius: 5px;
  text-decoration: none;
}
.trendBtn:hover {
  color: #dddddd;
  background-color: #aeadad;
  border-color: #be7617;
}
